<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<title></title>
</head>

<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap">
<link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet">
<link href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.15.0/css/mdb.min.css" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Lora|PT+Sans|PT+Serif|Roboto+Condensed&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Londrina+Outline|Monoton&display=swap" rel="stylesheet">

<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://www.w3schools.com/lib/w3-theme-blue.css">

<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<link rel="stylesheet" href="/stylesheets/Grocery_home.css">

<style>
    .navbar-dark .navbar-nav .nav-link{
        color: white;
    }
    a.waves-effect, a.waves-light{
        display: inline;
    }
    .jumbotron.grocery{
        color: white;
    }
    .lead {
    font-size: 1.45rem;
    font-weight: 0;
    font-weight: 500;
}
.container-fluid {
padding: 60px 50px;
}
.slideanim {visibility:hidden;}
.slide {
animation-name: slide;
-webkit-animation-name: slide;
animation-duration: 1s;
-webkit-animation-duration: 1s;
visibility: visible;
}
@keyframes slide {
0% {
opacity: 0;
transform: translateY(70%);
} 
100% {
opacity: 1;
transform: translateY(0%);
}
}
@-webkit-keyframes slide {
0% {
opacity: 0;
-webkit-transform: translateY(70%);
} 
100% {
opacity: 1;
-webkit-transform: translateY(0%);
}
}

p.Covid-info{
font-family: 'Londrina Outline', cursive;
font-size: 45px;
}
</style>




<body>

    <nav id="mainNavbar" class="navbar navbar-expand-lg  navbar-dark w3-theme-d4 fixed-top pt-0 mb-5" style="width: 1">
        <a class="navbar-brand" style="padding-left: 20px;"  href="/groceries">Home</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" >
          <span class="navbar-toggler-icon" ></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="nav navbar-nav mr-auto">
            <% if(currentUser){ %>
              <li> <a class="nav-link" href="/<%=currentUser._id%>/new/seller">Set Up a Shop</a> </li>
            <li> <a class="nav-link" href="/<%=currentUser._id%>/seller/dashboard">Go to your Shop</a> </li>
            <% } %>
          </ul>
          <ul class="nav navbar-nav navbar-right" style=" margin-right: 70px;">
            <% if(!currentUser){ %>
                <li class="<%= typeof page !== 'undefined' && page === 'login' ? 'active' : '' %>"><a class="nav-link" href="/login">Login</a></li>
                <li class="<%= typeof page !== 'undefined' && page === 'register' ? 'active' : '' %>"><a class="nav-link" href="/signup">Sign Up</a></li>
            <% } else { %>
                <li><a class="nav-link" href="#">Signed In As <%= currentUser.username %></a></li>
                <li><a class="nav-link" href="/logout">Logout</a></li>
            <% } %>
            </ul>   
        </div>
      </nav>



      <div class="jumbotron" style="margin: 0; color: white; padding-left: 60px; padding-right: 40px; background-image: linear-gradient(rgba(255,255,255,.1), rgba(255,255,255,.1)),  url(https://images.squarespace-cdn.com/content/v1/57a638c5ebbd1acee619193b/1529434540139-1JT72PUBY0MOAPB9VBHE/ke17ZwdGBToddI8pDm48kAI8vb-WPdIdYYCfizVhTKQUqsxRUqqbr1mOJYKfIPR7LoDQ9mXPOjoJoqy81S2I8N_N4V1vUb5AoIIIbLZhVYxCRW4BPu10St3TBAUQYVKc4-bqIMdPlpcIn9ZUR5fP0pz41_tPfyOOqV4UWTX9kfZmWYMppK9k9kx68RqBn3F0/food+background.png?format=1500w);background-repeat: no-repeat;
      background-size: cover; 
      background-position: center; ">
        
      <div class="container">
		<% if(error && error.length>0){ %>
			<div class="alert alert-danger" role="alert">
				<%= error %>
			</div>
		<% } %>
	
		<% if(success && success.length>0){ %>
			<div class="alert alert-success" role="alert">
				<%= success %>
			</div>
		<% } %>
    </div>
    
        <br><br><br><br><br><br>
        <center class="display-4" style="font-weight: 600; color:black; size: 20px">Welcome to our online Grocery Store</center> <br>
        <p class="lead two" style="font-family: 'Roboto Condensed', sans-serif; color: black; font-weight: bold; padding-left: 150px; padding-right: 150px ">Problem faced by people now is crowding of people in front of grocery stores while collecting orders. This leads to total disruption of the concept of social distancing. People can place online orders from home and come to the shop to directly collect their orders. Small shops and businesses can currently take their business online by signing up on our website. This will reduce the waiting time in long queues and also enforce social distancing.</p>

        <hr class="my-4">
        <p class="lead" style="margin-top: 20px; color: black; padding-left: 500px; font-weight: bold ">Stay indoors and stay healthy!</p> 
        <a style="position: relative;left: 570px "class="btn btn-success btn-lg" href="/order">Place Order</a>
    </div>	
    
      
    <div id="portfolio" class="container-fluid text-center" style="background-color: #ff810a">
        <h2 class="awareness"> <strong>Our Features</strong> </h2><br>
        <div class="row text-center slideanim">
          <div class="col-sm-4" style="margin-bottom: 20px;" >
            <div class="thumbnail">

              <a href="/signup"><img class="img-fluid" src="/images/signup.PNG" style="height: 450px;"></a>

            </div>
            <p style="padding-top: 25px; margin-bottom: 40px; font-size: 25px; color: black; font-weight: 500;">Sign Up</p>
          </div>
          <div class="col-sm-4" style="margin-bottom: 20px;">
            <div class="thumbnail">
              <a href="/signup"><img class="img-fluid" src="/images/newseller.PNG" alt="New York"  style="height: 450px;"></a>
            </div>
            <p style="padding-top: 25px; font-size: 25px; color: black; font-weight: 500;">Set up your store online</p>
          </div>
          <div class="col-sm-4">
            <div class="thumbnail">
              <a href="/signup"><img class="img-fluid" src="/images/order.PNG" style="height: 450px; width: 400px;" ></a>
            </div>
            <p style="padding-top: 25px; font-size: 25px; color: black; font-weight: 500;">Receive online orders</p>
          </div>
        </div>
          <div class="row text-center slideanim">
            <div class="col-sm-4" style="margin-bottom: 20px;" >
              <div class="thumbnail">
                <a href="/signup"><img class="img-fluid" src="/images/placeorder.PNG" style="height: 450px;"></a>
              </div>
              <p style="padding-top: 25px; font-size: 25px; color: black; font-weight: 500;">Place orders online</p>
            </div>
            <div class="col-sm-4" style="margin-bottom: 20px;">
              <div class="thumbnail">
                <a href="/signup"><img class="img-fluid" src="/images/bill.PNG" alt="New York"  style="height: 450px;"></a>
              </div>
              <p style="padding-top: 25px; font-size: 25px; color: black; font-weight: 500;">Generate computerised Bill</p>
            </div>


            <div class="col-sm-4" style="margin-bottom: 20px;">
                <div class="thumbnail">
                  <a href="/signup"><img class="img-fluid" src="/images/maps.PNG" alt="New York"  style="height: 450px;"></a>
                </div>
                <p style="padding-top: 25px; font-size: 25px; color: black; font-weight: 500;">Maps for easy navigation</p>
              </div>
        </div>

    </div>


        <div id="contact" class="container-fluid bg-light">
            <h2 class="text-center " style="padding-left: 80px;"> Contact us... Feedback</h2>
              <div class="row">
                  <div class="col-sm-5">
                      <p style="font-weight: bold; font-size: 19px">Contact us and we'll get back to you within 24 hours.</p>
                      <span style="margin-bottom: 5px;"> <i class="material-icons">&#xe55f;</i>NIT Surat, Ichchanath, </span> <div style="padding-left:20px">  Surat-Dumas Road, Keval Chowk,<br> Surat, Gujarat<br> 395007 </div> <br>
                      <p><i class="material-icons">&#xe0d4;</i> +00 1515151515</p>
                      <p><i class="material-icons">&#xe0e1;</i> hypertextcoders@svnit.ac.in</p>
                  </div>
          
                  <div class="col-sm-7 slideanim">
                      <div class="row">
                          <div class="col-sm-6 form-group">
                              <input class="form-control" id="name" name="name" placeholder="Name" type="text" required>
                          </div>
                          <div class="col-sm-6 form-group">
                              <input class="form-control" id="email" name="email" placeholder="Email" type="email" required>
                          </div>
                      </div>
                          <textarea class="form-control" id="comments" name="comments" placeholder="Comment" rows="5"></textarea><br>
                          <div class="row">
                              <div class="col-sm-12 form-group">
                              <button class="btn btn-default pull-right" type="submit">Send</button>
                          </div>
                  </div>
              </div>
            </div>
          </div>
    
              
              
          
          
          <div class="row bg-dark d-flex justify-content-center align-items-center" style=" color: white; height: 150px;">
            <div class="col-xl-4">
              <center> <p class="Covid-info" style="margin-bottom: 0;font-weight: 500;"> Covid-Help   </p></center>	
            </div>
            <div class="col-xl-4">
              <center> <p> © Copyright HC, 2020. All rights reserved </p></center>
            </div>
            <div class="col-xl-4">
              <center> <p>Developed by : HyperText Coders/SAS </p></center>
            </div>
          </div>












<!-- JQuery -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<!-- Bootstrap tooltips -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.4/umd/popper.min.js"></script>
<!-- Bootstrap core JavaScript -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.4.1/js/bootstrap.min.js"></script>
<!-- MDB core JavaScript -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.15.0/js/mdb.min.js"></script>



          <script>
            $(document).ready(function(){   
                        $(window).scroll(function() {
                $(".slideanim").each(function(){
                var pos = $(this).offset().top;
                var winTop = $(window).scrollTop();
                    if (pos < winTop + 600) {
                    $(this).addClass("slide");
                    }
                });
            });
            });
          </script>


    </body>
    </html>
